:root {
    --canvas-border-color: #e0e0e0;
    --canvas-shadow-color: rgba(68, 68, 68, 0.5);
}

.grid-container {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "nav-bar--naam nav-bar-home nav-bar--tijdlijn nav-bar--blog nav-bar--bio nav-bar--contact";
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
    padding: inherit;
}

.nav-bar--naam {
    text-align: left;
    border: 1px solid black;
    padding: 50px;
    font-size: 20px;
}

.nav-bar--home,
.nav-bar--tijdlijn,
.nav-bar--blog,
.nav-bar--bio,
.nav-bar--contact {
    text-align: center;
    border: 1px solid black;
    padding: 50px;
    font-size: 20px;
}

section {
    height: 85vh;
}

.home-container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 2fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: "david__naam laatste__werken";
    justify-items: stretch;
    align-items: stretch;
    height: 80vh;
}

.home-container .david__naam {
    margin: 10% 40px;
    padding: 40px;
}

.home-container .david__naam h1,
.home-container .david__naam p {
    font-family: 'Lato';
}

.home-container .david__naam h1 {
    font-size: 5rem;
}

.home-container .david__naam p {
    font-size: 2rem;
}

.home-container .laatste__werken {
    height: 80vh;
}

.home-container .laatste__werken--container {
    height: 60vh;
    display: flex;
    margin: 10%;
}

.home-container .laatste__werken--werk1 {
    border: 8px solid var(--canvas-border-color);
    box-shadow: 0px 2px 2px 2px var(--canvas-shadow-color);
    width: 400px;
    height: 500px;
}

.home-container .laatste__werken--werk2 {
    border: 8px solid var(--canvas-border-color);
    box-shadow: 0px 2px 2px 2px var(--canvas-shadow-color);
    width: 400px;
    height: 500px;
}

.home-container .laatste__werken--werk3 {
    border: 8px solid var(--canvas-border-color);
    box-shadow: 0px 2px 2px 2px var(--canvas-shadow-color);
    width: 400px;
    height: 500px;
}