html,
body {
    padding: 0px;
    width: 100vh;
    background-color: rgb(209, 209, 209);
}

h1,
h2,
h3,
p,
a {
    font-family: 'Lato', sans-serif;
    line-height: 0px;
    text-decoration: none;
    text-rendering: optimizeSpeed;
}

.david_bade h1 {
    font-size: 8rem;
    position: relative;
    top: 40vh;
    width: 100%;
    left: 5vw;
    width: 100%;
    padding: 20px;
    margin: auto;
    box-sizing: content-box;
    display: inline
}

.contentContainer {
    margin: auto;
}

.nav_bar {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nav_bar ul {
    list-style-type: none;
    display: inline-flex;
}

.nav_bar_items ul {
    list-style-type: none;
    display: inline-flex;
    font-family: 'Lato', sans-serif;
}

.nav_bar_items li {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    display: inline-flex;
    margin-right: 40%;
}